@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Play:wght@400;700&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../img/space.gif");
    background-size: cover;
}
header {
    background-color: transparent;
    backdrop-filter: blur(8px);
    width: 100%;
}
header nav{  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 120px;
    border-bottom: 3px solid rgba(128, 128, 128, .3);
}

h2{
    font-family: 'Play';
}
.panel{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square{
    height: 150px;
    width: 150px;
    margin: .2rem .1rem .2rem .1rem;
    background: aqua;
    border-radius: 20px;
}
.square:hover{
    cursor: pointer;
}
.enemy{
    background-image: url("../img/alien.png");
    background-size: cover;
}
.menu-life, .menu-time, .menu-score{
    display: inline-flex;
    gap: .5rem;
}